.form .validation, 
.form .form-error {
	color: red;
	display: none;
	margin: 0 0 20px;
	font-weight: 400;
	font-size: 13px;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
	margin-top: 20px;
	background: #111;
	padding: 30px 0;
	color: #fff;
}

#footer .copyright {
	text-align: center;
}

#footer .credits {
	padding-top: 10px;
	text-align: center;
	font-size: 13px;
	color: #ccc;
}
